<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('充电记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>充值记录序号：</label>
                                <input type="text" name="transactionId"/>
                            </li>
                            <li>
                                <label>用户的唯一编号：</label>
                                <input type="text" name="userId"/>
                            </li>
                            <li>
                                <label>本次充电时长：</label>
                                <input type="text" class="time-input" placeholder="请选择本次充电时长" name="chargeDuration"/>
                            </li>
                            <li>
                                <label>本次充电的金额：</label>
                                <input type="text" name="chargeAmount"/>
                            </li>
                            <li class="select-time">
                                <label>充电开始时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginStartTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endStartTime]"/>
                            </li>
                            <li>
                                <label>使用的插座ID：</label>
                                <input type="text" name="socketId"/>
                            </li>
                            <li>
                                <label>使用的充电桩ID：</label>
                                <input type="text" name="chargerId"/>
                            </li>
                            <li>
                                <label>充电进度状态：</label>
                                <select name="chargeStatus" th:with="type=${@dict.getType('chargingrecord_user_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="chargingRecord:charingRecordinfo:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="chargingRecord:charingRecordinfo:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="chargingRecord:charingRecordinfo:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="chargingRecord:charingRecordinfo:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('chargingRecord:charingRecordinfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('chargingRecord:charingRecordinfo:remove')}]];
        var chargeStatusDatas = [[${@dict.getType('chargingrecord_user_status')}]];
        var prefix = ctx + "chargingRecord/charingRecordinfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "充电记录",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'transactionId',
                    title: '充值记录序号',
                    visible: false
                },
                {
                    field: 'chargeAmount',
                    title: '本次充电的金额'
                },
                {
                    field: 'startTime',
                    title: '充电开始时间'
                },
                {
                    field: 'endTime',
                    title: '充电结束时间'
                },
                {
                    field: 'socketId',
                    title: '使用的插座ID'
                },
                {
                    field: 'chargerId',
                    title: '使用的充电桩ID'
                },
                {
                    field: 'chargeStatus',
                    title: '充电进度状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(chargeStatusDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.transactionId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.transactionId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>